asgiref
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
fonttools
idna
lxml
pillow
python-dateutil
PyJWT
PyYAML
requests
six
sqlparse
tzdata
tzlocal
urllib3
pyhtml2pdf
selenium
webdriver-manager

