.owner-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e2f; 
  border-radius: 10px;
}
.owner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.owner-card {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
  background: #ffffff;
}

.owner-card-content {
  padding: 10px 15px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  row-gap: 16px;
  margin-bottom: 18px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field label {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 12px;
  background: #f7f7f7;
  font-weight: bold;
  color: #444;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.form-field input {
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  padding: 10px 12px;
  background-color: rgb(232, 240, 254);

  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;

  transition: 0.2s;
}

.form-field input:focus {
  border-color: #4a6cf7;
  box-shadow: 0 0 0 2px rgba(74,108,247,0.2);
  outline: none;
}

.save-btn {
  grid-column: span 2;
  width: 100%;
  padding: 12px;
  background-color: rgb(15, 63, 15);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.save-btn:hover {
  background: rgb(15,127,15);
}

/* --- MOBILON 1 OSZLOP --- */
@media (max-width: 600px) {
  .form-row {
    grid-template-columns: 1fr;
  }

  .save-btn {
    grid-column: span 1;
  }
}
.owner-image {
  width: 100%;
  display: block;
 /* border-radius: 12px;*/
}